<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="customer_register_change_name" instance="Magenest\Movie\Observer\ChangeName" />
    </event>
    <event name="save_movie">
        <observer name="movie_change_rating" instance="Magenest\Movie\Observer\ChangeRating" />
    </event>
    <event name="admin_system_config_changed_section_movie">
        <observer name="custom_admin_system_config_changed_section_magenest" instance="Magenest\Movie\Observer\ChangePingtoPong"/>
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="custom_admin_customer_save_after_magenest" instance="Magenest\Movie\Observer\SaveImg"/>
    </event>
</config>
