<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_Movie::movie"
            title="Movie"
            module="Magenest_Movie"
            sortOrder="40"
            parent="Magento_Backend::marketing"
            resource="Magenest_Movie::movie"
        />
        <add
            id="Magenest_Movie::index"
            title="Movie Index"
            module="Magenest_Movie"
            sortOrder="45"
            parent="Magenest_Movie::movie"
            action="movie/index/"
            resource="Magenest_Movie::index"
        />
        <add
            id="Magenest_Movie::menu"
            title="Movie"
            module="Magenest_Movie"
            sortOrder="41"
            resource="Magenest_Movie::menu"
        />
        <add
            id="Magenest_Movie::movie_actor_director_grid"
            title="Movie"
            module="Magenest_Movie"
            sortOrder="10"
            parent="Magenest_Movie::menu"
            resource="ViMagento_HelloWorld::movie_actor_director_grid"
        />
        <add
            id="Magenest_Movie::movie_grid"
            title="Movie grid"
            module="Magenest_Movie"
            sortOrder="10"
            action="movie/movie/"
            resource="ViMagento_HelloWorld::movie_grid"
            parent="Magenest_Movie::movie_actor_director_grid"
        />
        <add
            id="Magenest_Movie::actor_grid"
            title="Actor grid"
            module="Magenest_Movie"
            sortOrder="20"
            parent="Magenest_Movie::movie_actor_director_grid"
            action="movie/actor/"
            resource="Magenest_Movie::actor_grid"
        />
        <add
            id="Magenest_Movie::director_grid"
            title="Director grid"
            module="Magenest_Movie"
            sortOrder="30"
            action="movie/director/"
            resource="ViMagento_HelloWorld::director_grid"
            parent="Magenest_Movie::movie_actor_director_grid"
        />
        <add
            id="Magenest_Movie::newsection"
            title="New section"
            module="Magenest_Movie"
            sortOrder="20"
            parent="Magenest_Movie::menu"
            resource="ViMagento_HelloWorld::newsection"
        />
        <add
            id="Magenest_Movie::newsection1and2"
            title="Two new sections"
            module="Magenest_Movie"
            sortOrder="10"
            action="movie/newsection/"
            resource="ViMagento_HelloWorld::newsection1and2"
            parent="Magenest_Movie::newsection"
        />
    </menu>
</config>
