<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="500">
            <label>Magenest</label>
        </tab>
        <section id="movie" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config_movie</resource>
            <group id="moviepage" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Movie page settings</label>
                <field id="text_field" translate="label" type="text"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Field</label>
                </field>
                <field id="yes_no_field_abcd" translate="label" type="select"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<span>Yes/No_Field_</span><span style="color:red" >abcd</span>]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_select" translate="label" type="select"
                       sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Select Field</label>
                    <source_model>Magenest\Movie\Model\Config\Source\Shownot</source_model>
                </field>
                <field id="row_movie1" translate="label" type="text"
                       sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rows in table "Magenest_movie"</label>
                    <frontend_model>Magenest\Movie\Block\System\Config\Form\Field\MagenestMovie</frontend_model>
                </field>
                <field id="row_actor" translate="label" type="text"
                       sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rows in table "Magenest_actor"</label>
                    <depends>
                        <field id="movie/moviepage/custom_select">1</field>
                    </depends>
                    <frontend_model>Magenest\Movie\Block\System\Config\Form\Field\MagenestActor</frontend_model>
                </field>
                <field id="button" translate="label" type="button"
                       sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Field</label>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\System\Config\Button</frontend_model>
                </field>
            </group>
        </section>
        <section id="customer_courses" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Courses</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config_movie</resource>
            <group id="customer_courses" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer courses settings</label>
                <field id="Customer_courses_setting" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Time</label>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\Form\Field\CustomerCourses</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
